@font-face {
  font-family: "Comfortaa"; 
  src: url("/font/Comfortaa-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Comfortaa-Bold"; 
  src: url("/font/Comfortaa-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: bold; 
}

/* Стили для шрифтов */
body, h1, h2, h3, p {
    font-family: "Comfortaa", sans-serif;
}

.card-title {
    font-family: "Comfortaa-Bold", sans-serif;
}


/* Общие стили для сайта */
body {
    background-color: #f8f9fa;
}

/* Стили для карточек на главной странице */
.card {
    /* Плавный переход для всех свойств */
    transition: all 0.2s ease-in-out;
}

#sidebar, #instructions-block {
    display: none;
}

.detail-card-title {
    margin-bottom: 20px;
}

.detail-card {
    text-align: center;
}

.detail-card-body {
    padding-bottom: 20px;
}

.container-fluid {
    padding: 0;
}

.title-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.detail-h1 {
    padding-top: 3rem;
    font-size: 3rem;
}

.neu-button {
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
  text-decoration: none;
  text-align: center;
}

@media (min-width: 991px) and (max-width: 1200px)  {
    .neu-button {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


.neu-button:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.neu-button:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}


html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* Позволяет этому блоку растягиваться */
}






.btn-up {
  position: fixed;
  background-color: rgba(var(--bs-dark-rgb));
  right: 20px;
  bottom: 30px;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
  color: #fff;
  width: 50px;
  height: 50px;
  opacity: 1;
  transform: translateY(0);
}

.btn-up::before {
  content: "";
  width: 30px;
  height: 30px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
  transform: translateY(100px);
}

.btn-up-icon {
  width: 40px;
  height: 40px;
  fill: currentcolor;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #ef6c00;
  }
}